# Node
node_modules/
api-tests/node_modules/
api-tests/.env

# Allure
reports/**/allure-results/
allure-report/

# WDIO reports
reports/
reports/api-reports/

# Screenshots
screenshots/
errorShots/

# Logs
wdio-*.log
